// @use '@/styles/index.scss';

.root {
    display: flex;
    gap: 24px;
    height: 100%;

    .top {
        width: 100%;
        max-height: 60px;
        padding: 10px 24px;
        background-color: #fff;

        .collecting-doc {
            display: flex;
            font-size: 20px;
            white-space: nowrap;

            .input {
                width: 400px;
            }
        }
    }

    .left {
        flex: 1;
        background: #fff;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            .container-com {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            .full-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 224px;
                height: 256px;
                font-size: 24px;
                color: #fff;
                background-color: #fa8c16;
                border: 4px solid #d46b08;
            }
        }
    }

    .picking-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .default-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 24px;
        font-weight: 700;
        color: #333;

        img {
            width: 200px;
        }
    }

    .right {
        flex: 1;
        background: #fff;

        .divider {
            margin: 12px;
        }

        .scan-sku {
            gap: 10px;
            align-items: center;
            margin-bottom: 24px;

            &__button {
                height: 64px;
                font-size: 20px;
            }

            .ant-input {
                background-color: "#F4F4F5";
            }
        }

        .count-confirm {
            gap: 10px;

            &__button {
                flex: 1;
                height: 64px;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}

.scan-sku {
    gap: 10px;
    align-items: center;
    // margin-bottom: 24px;

    &__button {
        height: 64px;
        font-size: 20px;
    }

    .ant-input {
        background-color: #f4f4f5;
    }
}
