/public
/node_modules
/package-lock.json
build/webpack.config.dev.js
build/webpack.config.dev.example.js
/mock/chart.json
/gh-pages
/dist
.idea/
*.iml
build/dist/
dist.tar.gz
dist.zip
/deploy.sh
/deploy-docs.sh
/docs.tar.gz
.DS_Store
stats.html
stats
