// @import '@/styles/index.scss';

.container-code-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 224px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #666;
    text-align: left;

    .container-code {
        flex: 1;
    }

    .scan-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 8px;
        cursor: pointer;
        background-color: #f6f7fb;
        border-radius: 4px;

        .scan-svg {
            font-size: 24px;
        }
    }
}
