@use "@/scss/style.scss";

.root {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 100%;

    .left {
        flex: 5;
        background: #fff;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .right {
        flex: 8;
        background: #fff;
    }
}
