@use "@/scss/style.scss";

.specification-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 604px;
    padding-bottom: 38px;

    .specification-title {
        font-size: 20px;
        color: #666;
    }

    .specification-content {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        width: 100%;
        font-size: 18px;
        color: #999;
        text-align: center;

        .specification-cell {
            width: 33.3%;
            cursor: pointer;
        }

        .specification-name {
            display: flex;
            justify-content: center;
            padding: 16px 0;
            margin: 8px;
            background-color: #f2f2f2;
        }
    }
}
