.shelf-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .container-com {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
